<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OutputDirectory" value=""/>
    <add key="Url" value="https://books.toscrape.com/"/>
    <!-- 
    Determines the maximum traversal of the site.
    -1 signifies infinite depth and all pages of the site will be read. 
    -->
    <add key="MaxDepth" value="-1"/>
  </appSettings>
</configuration>